export enum <%=classify(name)%>CardStatus {
  masterBL = "masterBL",
  houseBL = "houseBL",
  consignee = "consignee",
  shipper = "shipper",
  actions = "actions",
  voyageNo = "voyageNo",
  agentCode = "agentCode",
}
